.price-filters{
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: baseline;
}

.filter-price-input{
    margin: 4px;
    width: 38px;
    padding: 3px;
}

input[type="checkbox"]{
    width: 23px;
}



@media (min-width: 40rem) {
    .price-filters{
        margin: 6px;
    }
    .filter-price-input{
        width: 6rem;
    }
}