@import '../button.scss';

body{
    font: $font-family;
}

.about-app{
    width: 80%;
    padding: 10px 20px;
    text-align: justify;
    margin: 1rem auto;
    background:  rgba(240, 240, 240, 0.58);
}
.about-app h1{
    text-align: center;
    color: $button-background;
}

// .button{
//     width: $button-width;
//     height: $button-height;
//     background: $button-background;
//     border:$button-border;

//     a{
//         text-decoration: none;
//         color: $button-color;
//     }
// }
