@import '../button.scss';

body{
    font: $font-family;
}

.about-app{
    width: 60%;
    padding: 2rem;
    text-align: center;
    margin: 1rem auto 2rem auto;
    background:  rgba(240, 240, 240, 0.58);
    border-radius: 33px;
}

.about-app h1{
    color: $button-background;
    padding: 8px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 6px;
}

@media(min-width: 40rem){
    .about-app{
        margin: 1rem auto;
    }
}
