$button-background: rgba(245, 8, 94, 0.53);
$button-color: white;
$button-width: 80px;
$button-height: 28px;
$button-margin: 7px;
$button--grey-background: rgb(207, 209, 214);
$button-border: 1px solid white;

$font-family: Sanchez;