@import '../button.scss';

.home-page{
    display: flex;
    flex-direction: column;
}

.welcome-panel{
    width: 332px;
    height: 246px;
    margin: 1rem auto;
    left: 22px;
    top: 38px;
    background: rgba(240, 240, 240, 0.58);
    border-radius: 33px;
}

.welcome-panel h1 {
    width: 293px;
    height: 132px;
    left: 40px;
    top: 65px;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 159.8%;
    padding: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F4F4F;
    border: none;
}

.buttons-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button{
    width: $button-width;
    height: $button-height;
    background: $button--grey-background;
    margin: $button-margin;
    border:$button-border;

    a{
        text-decoration: none;
        color: $button-color;
        word-break: break-all;
    }
}

.travel-button{
    background: $button-background;
}

.home-page img{
    width: 310px;
    height: 320px;
    border-radius: 23px;
}

@media(min-width: 40rem){
    .welcome-panel{
        margin: 2rem auto;
    }
    home-page img{
        width: 324px;
        height: 355px;
    }
}